.container {
  width: 70%;
  margin: 50px auto;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 11px;
}
.numbers,
.btns {
  display: flex;
  justify-content: space-around;
}
.btns button {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  padding: 6px 12px;
  text-transform: capitalize;
  border-radius: 11px;
}
.numbers div {
  padding: 5px 10px;
  /* background-color: #cccccc; */
  border-radius: 50%;
}
.message {
  text-align: center;
  margin: 30px 0;
}
.active {
  color: #fff;
  background-color: #7960f2;
}
